.introduction-container {
  display: flex;
  text-shadow: -5px 5px #000000;
  align-items: center;
  justify-content: flex-start;
  .introduction-self-portrait {
    margin: 2rem;
    @media (max-width:742px) {
      margin-bottom:0;
    }
  }
  @media (max-width:742px) {
    flex-direction: column;
  }
}

.self-portrait {
  object-fit: contain;
  margin: 0;
  border: 2px solid #fefefe;
  // width: 49%;
  max-width: 248px;
  // height: 100%;
  box-shadow: 5px 5px 0 #ebebeb, -5px -5px 0 #ebebeb, -15px 7px 5px #000000,
    -7px 15px 5px #000000;
}
.introduction-text {
  // align-self: flex-start;
  line-height: 2;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  &--primary {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    @media (max-width:742px) {
      margin-bottom:0;
    }
  }
}

.introduction-paragraph {
  line-height: 2;
  text-shadow: -5px 5px #000000;
  padding:1rem;
  @media (max-width:742px) {
    text-align: center;
    font-size: 1.2rem;
  }
}

