.project-container {
  margin: 1rem;
  max-width: 49%;
  // flex-basis: 49%;
  min-width: 42.3rem;
  min-height: 100%;
  line-height: 1.5;
  // width: 49%;
  // height: 100%;
  // align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
}
.project {
  &-image {
    box-shadow: 5px 5px 0 #bfbfbf, -5px -5px 0 #bfbfbf, -15px 7px 5px #000000,
      -7px 15px 5px #000000;
    margin: 1rem;
    max-width: 34.7rem;
    max-height: 20.5rem;
    height: auto;
    object-fit: cover;
  }
  .nes-container.is-rounded.is-dark.with-title.is-centered > &-title.title {
    justify-content: flex-start;
    margin-left: 1rem;
    font-size: 1.6rem;
  }
  &-description {
    margin: 1rem;
  }
  &-techStacks {
    margin: 1rem;
  }
}
