.pixelart-to-css {
  box-shadow: 130px 50px 0 0 #000000, 140px 50px 0 0 #000000,
    150px 50px 0 0 #000000, 160px 50px 0 0 #000000, 110px 60px 0 0 #000000,
    120px 60px 0 0 #000000, 130px 60px 0 0 #000000, 160px 60px 0 0 #000000,
    170px 60px 0 0 #000000, 180px 60px 0 0 #000000, 190px 60px 0 0 #000000,
    200px 60px 0 0 #000000, 210px 60px 0 0 #000000, 220px 60px 0 0 #000000,
    230px 60px 0 0 #000000, 240px 60px 0 0 #000000, 830px 60px 0 0 #000000,
    840px 60px 0 0 #000000, 90px 70px 0 0 #000000, 100px 70px 0 0 #000000,
    110px 70px 0 0 #000000, 240px 70px 0 0 #000000, 250px 70px 0 0 #000000,
    260px 70px 0 0 #000000, 270px 70px 0 0 #000000, 280px 70px 0 0 #000000,
    290px 70px 0 0 #000000, 300px 70px 0 0 #000000, 310px 70px 0 0 #000000,
    320px 70px 0 0 #000000, 330px 70px 0 0 #000000, 340px 70px 0 0 #000000,
    350px 70px 0 0 #000000, 360px 70px 0 0 #000000, 370px 70px 0 0 #000000,
    380px 70px 0 0 #000000, 390px 70px 0 0 #000000, 400px 70px 0 0 #000000,
    410px 70px 0 0 #000000, 420px 70px 0 0 #000000, 430px 70px 0 0 #000000,
    440px 70px 0 0 #000000, 450px 70px 0 0 #000000, 460px 70px 0 0 #000000,
    470px 70px 0 0 #000000, 480px 70px 0 0 #000000, 490px 70px 0 0 #000000,
    500px 70px 0 0 #000000, 510px 70px 0 0 #000000, 520px 70px 0 0 #000000,
    530px 70px 0 0 #000000, 540px 70px 0 0 #000000, 550px 70px 0 0 #000000,
    560px 70px 0 0 #000000, 570px 70px 0 0 #000000, 580px 70px 0 0 #000000,
    590px 70px 0 0 #000000, 600px 70px 0 0 #000000, 610px 70px 0 0 #000000,
    620px 70px 0 0 #000000, 630px 70px 0 0 #000000, 640px 70px 0 0 #000000,
    650px 70px 0 0 #000000, 660px 70px 0 0 #000000, 670px 70px 0 0 #000000,
    680px 70px 0 0 #000000, 690px 70px 0 0 #000000, 700px 70px 0 0 #000000,
    710px 70px 0 0 #000000, 720px 70px 0 0 #000000, 730px 70px 0 0 #000000,
    740px 70px 0 0 #000000, 750px 70px 0 0 #000000, 760px 70px 0 0 #000000,
    770px 70px 0 0 #000000, 780px 70px 0 0 #000000, 790px 70px 0 0 #000000,
    800px 70px 0 0 #000000, 810px 70px 0 0 #000000, 820px 70px 0 0 #000000,
    830px 70px 0 0 #000000, 850px 70px 0 0 #000000, 870px 70px 0 0 #000000,
    880px 70px 0 0 #000000, 900px 70px 0 0 #000000, 90px 80px 0 0 #000000,
    900px 80px 0 0 #000000, 910px 80px 0 0 #000000, 90px 90px 0 0 #000000,
    910px 90px 0 0 #000000, 920px 90px 0 0 #000000, 90px 100px 0 0 #000000,
    100px 100px 0 0 #000000, 910px 100px 0 0 #000000, 100px 110px 0 0 #000000,
    900px 110px 0 0 #000000, 910px 110px 0 0 #000000, 100px 120px 0 0 #000000,
    900px 120px 0 0 #000000, 100px 130px 0 0 #000000, 110px 130px 0 0 #000000,
    890px 130px 0 0 #000000, 900px 130px 0 0 #000000, 110px 140px 0 0 #000000,
    890px 140px 0 0 #000000, 110px 150px 0 0 #000000, 890px 150px 0 0 #000000,
    110px 160px 0 0 #000000, 880px 160px 0 0 #000000, 890px 160px 0 0 #000000,
    110px 170px 0 0 #000000, 120px 170px 0 0 #000000, 880px 170px 0 0 #000000,
    120px 180px 0 0 #000000, 880px 180px 0 0 #000000, 120px 190px 0 0 #000000,
    880px 190px 0 0 #000000, 120px 200px 0 0 #000000, 870px 200px 0 0 #000000,
    880px 200px 0 0 #000000, 120px 210px 0 0 #000000, 870px 210px 0 0 #000000,
    120px 220px 0 0 #000000, 130px 220px 0 0 #000000, 870px 220px 0 0 #000000,
    130px 230px 0 0 #000000, 860px 230px 0 0 #000000, 870px 230px 0 0 #000000,
    130px 240px 0 0 #000000, 860px 240px 0 0 #000000, 130px 250px 0 0 #000000,
    860px 250px 0 0 #000000, 130px 260px 0 0 #000000, 860px 260px 0 0 #000000,
    130px 270px 0 0 #000000, 860px 270px 0 0 #000000, 130px 280px 0 0 #000000,
    850px 280px 0 0 #000000, 130px 290px 0 0 #000000, 850px 290px 0 0 #000000,
    130px 300px 0 0 #000000, 140px 300px 0 0 #000000, 840px 300px 0 0 #000000,
    850px 300px 0 0 #000000, 140px 310px 0 0 #000000, 840px 310px 0 0 #000000,
    140px 320px 0 0 #000000, 840px 320px 0 0 #000000, 140px 330px 0 0 #000000,
    840px 330px 0 0 #000000, 140px 340px 0 0 #000000, 840px 340px 0 0 #000000,
    140px 350px 0 0 #000000, 840px 350px 0 0 #000000, 140px 360px 0 0 #000000,
    150px 360px 0 0 #000000, 840px 360px 0 0 #000000, 150px 370px 0 0 #000000,
    840px 370px 0 0 #000000, 150px 380px 0 0 #000000, 840px 380px 0 0 #000000,
    150px 390px 0 0 #000000, 840px 390px 0 0 #000000, 150px 400px 0 0 #000000,
    840px 400px 0 0 #000000, 150px 410px 0 0 #000000, 830px 410px 0 0 #000000,
    840px 410px 0 0 #000000, 150px 420px 0 0 #000000, 830px 420px 0 0 #000000,
    150px 430px 0 0 #000000, 830px 430px 0 0 #000000, 150px 440px 0 0 #000000,
    830px 440px 0 0 #000000, 150px 450px 0 0 #000000, 820px 450px 0 0 #000000,
    150px 460px 0 0 #000000, 820px 460px 0 0 #000000, 150px 470px 0 0 #000000,
    820px 470px 0 0 #000000, 150px 480px 0 0 #000000, 810px 480px 0 0 #000000,
    820px 480px 0 0 #000000, 150px 490px 0 0 #000000, 810px 490px 0 0 #000000,
    150px 500px 0 0 #000000, 810px 500px 0 0 #000000, 150px 510px 0 0 #000000,
    800px 510px 0 0 #000000, 810px 510px 0 0 #000000, 150px 520px 0 0 #000000,
    800px 520px 0 0 #000000, 150px 530px 0 0 #000000, 800px 530px 0 0 #000000,
    150px 540px 0 0 #000000, 800px 540px 0 0 #000000, 150px 550px 0 0 #000000,
    800px 550px 0 0 #000000, 150px 560px 0 0 #000000, 800px 560px 0 0 #000000,
    150px 570px 0 0 #000000, 800px 570px 0 0 #000000, 150px 580px 0 0 #000000,
    800px 580px 0 0 #000000, 150px 590px 0 0 #000000, 800px 590px 0 0 #000000,
    140px 600px 0 0 #000000, 800px 600px 0 0 #000000, 140px 610px 0 0 #000000,
    800px 610px 0 0 #000000, 140px 620px 0 0 #000000, 800px 620px 0 0 #000000,
    140px 630px 0 0 #000000, 800px 630px 0 0 #000000, 140px 640px 0 0 #000000,
    800px 640px 0 0 #000000, 140px 650px 0 0 #000000, 800px 650px 0 0 #000000,
    810px 650px 0 0 #000000, 140px 660px 0 0 #000000, 810px 660px 0 0 #000000,
    130px 670px 0 0 #000000, 140px 670px 0 0 #000000, 810px 670px 0 0 #000000,
    140px 680px 0 0 #000000, 810px 680px 0 0 #000000, 130px 690px 0 0 #000000,
    140px 690px 0 0 #000000, 820px 690px 0 0 #000000, 130px 700px 0 0 #000000,
    820px 700px 0 0 #000000, 130px 710px 0 0 #000000, 820px 710px 0 0 #000000,
    130px 720px 0 0 #000000, 820px 720px 0 0 #000000, 130px 730px 0 0 #000000,
    830px 730px 0 0 #000000, 130px 740px 0 0 #000000, 830px 740px 0 0 #000000,
    840px 740px 0 0 #000000, 130px 750px 0 0 #000000, 840px 750px 0 0 #000000,
    120px 760px 0 0 #000000, 130px 760px 0 0 #000000, 840px 760px 0 0 #000000,
    120px 770px 0 0 #000000, 840px 770px 0 0 #000000, 110px 780px 0 0 #000000,
    120px 780px 0 0 #000000, 840px 780px 0 0 #000000, 850px 780px 0 0 #000000,
    110px 790px 0 0 #000000, 850px 790px 0 0 #000000, 110px 800px 0 0 #000000,
    850px 800px 0 0 #000000, 860px 800px 0 0 #000000, 100px 810px 0 0 #000000,
    860px 810px 0 0 #000000, 90px 820px 0 0 #000000, 100px 820px 0 0 #000000,
    860px 820px 0 0 #000000, 870px 820px 0 0 #000000, 90px 830px 0 0 #000000,
    870px 830px 0 0 #000000, 880px 830px 0 0 #000000, 90px 840px 0 0 #000000,
    100px 840px 0 0 #000000, 110px 840px 0 0 #000000, 120px 840px 0 0 #000000,
    130px 840px 0 0 #000000, 140px 840px 0 0 #000000, 150px 840px 0 0 #000000,
    160px 840px 0 0 #000000, 170px 840px 0 0 #000000, 180px 840px 0 0 #000000,
    880px 840px 0 0 #000000, 180px 850px 0 0 #000000, 200px 850px 0 0 #000000,
    210px 850px 0 0 #000000, 220px 850px 0 0 #000000, 230px 850px 0 0 #000000,
    240px 850px 0 0 #000000, 250px 850px 0 0 #000000, 260px 850px 0 0 #000000,
    270px 850px 0 0 #000000, 280px 850px 0 0 #000000, 290px 850px 0 0 #000000,
    300px 850px 0 0 #000000, 310px 850px 0 0 #000000, 320px 850px 0 0 #000000,
    820px 850px 0 0 #000000, 830px 850px 0 0 #000000, 840px 850px 0 0 #000000,
    850px 850px 0 0 #000000, 860px 850px 0 0 #000000, 870px 850px 0 0 #000000,
    880px 850px 0 0 #000000, 890px 850px 0 0 #000000, 900px 850px 0 0 #000000,
    330px 860px 0 0 #000000, 340px 860px 0 0 #000000, 350px 860px 0 0 #000000,
    360px 860px 0 0 #000000, 370px 860px 0 0 #000000, 380px 860px 0 0 #000000,
    390px 860px 0 0 #000000, 400px 860px 0 0 #000000, 410px 860px 0 0 #000000,
    420px 860px 0 0 #000000, 430px 860px 0 0 #000000, 440px 860px 0 0 #000000,
    450px 860px 0 0 #000000, 480px 860px 0 0 #000000, 490px 860px 0 0 #000000,
    660px 860px 0 0 #000000, 670px 860px 0 0 #000000, 680px 860px 0 0 #000000,
    690px 860px 0 0 #000000, 700px 860px 0 0 #000000, 710px 860px 0 0 #000000,
    720px 860px 0 0 #000000, 730px 860px 0 0 #000000, 740px 860px 0 0 #000000,
    750px 860px 0 0 #000000, 760px 860px 0 0 #000000, 770px 860px 0 0 #000000,
    780px 860px 0 0 #000000, 790px 860px 0 0 #000000, 800px 860px 0 0 #000000,
    810px 860px 0 0 #000000, 830px 860px 0 0 #000000, 840px 860px 0 0 #000000,
    850px 860px 0 0 #000000, 860px 860px 0 0 #000000, 880px 860px 0 0 #000000,
    890px 860px 0 0 #000000, 900px 860px 0 0 #000000, 910px 860px 0 0 #000000,
    920px 860px 0 0 #000000, 930px 860px 0 0 #000000, 450px 870px 0 0 #000000,
    460px 870px 0 0 #000000, 470px 870px 0 0 #000000, 480px 870px 0 0 #000000,
    500px 870px 0 0 #000000, 510px 870px 0 0 #000000, 520px 870px 0 0 #000000,
    530px 870px 0 0 #000000, 540px 870px 0 0 #000000, 560px 870px 0 0 #000000,
    570px 870px 0 0 #000000, 580px 870px 0 0 #000000, 590px 870px 0 0 #000000,
    600px 870px 0 0 #000000, 620px 870px 0 0 #000000, 630px 870px 0 0 #000000,
    640px 870px 0 0 #000000, 650px 870px 0 0 #000000, 750px 870px 0 0 #000000,
    760px 870px 0 0 #000000;
  height: 10px;
  width: 10px;
}
