.skills-container {
  font-size: 1.8rem;
  .title.title-primary {
    font-size: 1.8rem;
  }
}
.skills {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  &-title {
    width: 100%;
    font-size: 1.6rem;
  }
}
.nes-icon {
  margin: 1rem;
}
